{% extends 'base.html' %}
{% load staticfiles i18n wagtailimages_tags wagtailcore_tags %}
{% block content %}
    <div class="new technologies-we-use-heading">
        {% image page.header_image max-1366x1366 as header_image %}
        <div class="new static-header dimmed-image slightly-down" style="background-image: url({{ header_image.url }})">
            <div class="new heading">
                <p>{{ page.header_text|richtext }}</p>
            </div>
            <div class="new scroll-down-arrow">
                <img class="filer_image " alt="scroll_down_arrow.png"
                     src="{% static 'images/header/scroll_down_arrow.png' %}"/>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="section team-lead-text">
            <div class="section-content">
                <div class="pt70">
                    {% for relation in page.teammate_placement.all %}
                        <div class="section-content-row underlined float-container wow bounceInUp">
                            <div class="smaller-part {% cycle 'align-right member-left' 'align-left member-right right-aligned' %} mb50 member-picture">
                                {% image relation.teammate.initial_photo fill-500x500 as initial_photo %}
                                <img class="filer_image" alt="" src="{{ initial_photo.url }}"/>
                                {% image relation.teammate.secondary_photo fill-500x500 as secondary_photo %}
                                <img class="filer_image secondary" alt="" src="{{ secondary_photo.url }}"/>
                            </div>
                            <div class="larger-part text {% cycle 'member-left' 'member-right' %}">
                                <b>{{ relation.teammate.name }}</b>
                                {{ relation.teammate.description|richtext }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
