{% extends 'base.html' %}
{% load staticfiles i18n wagtailimages_tags wagtailcore_tags %}
{% block content %}
    <div class="new technologies-we-use-heading">
        {% image page.header_image max-1366x1366 as header_image %}
        <div class="new static-header dimmed-image" style="background-image: url({{ header_image.url }})">
            <div class="new heading">
                <p>{{ page.header_text|richtext }}</p>
            </div>
            <div class="new scroll-down-arrow">
                <img class="filer_image " alt="scroll_down_arrow.png"
                     src="{% static 'images/header/scroll_down_arrow.png' %}"/>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <section class="section technologies">
            <div class="section-content">
                <div class="new section-content-row underlined">
                    <h1>{{ page.technologies_intro|richtext }}</h1>
                </div>

                {% for relation in page.technologies_placement.all %}
                    <div class="new technologies-content">
                        <div class="new image-box">
                            {% image relation.technology.logo max-200x200 as tech_logo %}
                            <img class="filer_image " alt="" src="{{ tech_logo.url }}"/>
                        </div>
                        <div class="new text-box">
                            <div class="new heading">
                                <h4><strong>{{ relation.technology.name }}</strong></h4>
                            </div>
                            {{ relation.technology.description|richtext }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock content %}
